{% extends "base.html" %}

{% block content %}

<div class ="about_body">
    <h1>Hello {{name}}.. and welcome to your own website...</h1>
        <br>
    <body> I set this site up as a way of developing my python and web skills, using flask to build the app. 
        <br> 
        This was inititially just for fun, but... something something something, and now its doing something super useful and intereesting.
    </body> 
    <body> Some sample text here and a jinja variable: {{title}} which at present is totally useless</body>
    <img src="{{url_for('static', filename='headshot_png.png')}}"/>
</div>
{% endblock %}
