<!doctype html>
<!-- https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xi-facelift
    https://flask.palletsprojects.com/en/1.1.x/tutorial/templates/
     https://kanchanardj.medium.com/how-to-add-images-to-html-in-a-flask-app-4dbcc92e3aeb -->

<html>
    <head>
      {% if title %}
      <title>{{ title }} - Flask App POC</title>
      {% else %}
      <title>Welcome to my super Flask App POC</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <header>My Flask App POC</header>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="hello-world">Hello World</a>
        <a href="web-scraping">Web Scraping</a>
        <a href="about">About</a>
      </div>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>

