/* https://pythonhow.com/add-css-to-flask-website/ */

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }

/*
 * Formatting the header area
 */

header {
    text-align: center;
    background-color: #ffffffaf;
    padding: 14px 16px;
    color: #000000;
    height: 35px;
    width: 100%;
    opacity: .9;
    font-size: 35px;
    margin-bottom: 20px;
  }

  /* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2bbdf7;
    color: white;
  }

  .chart_body{
    /*background-color: #76ebe5; */
    overflow: hidden;
    font-size: 14px;
  }

  .about_body{
    /*background-color: #76ebe5; */
    overflow: hidden;
    font-size: 20px;
    text-align: left;
  }